.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  min-height: 100vh;
}

.title {
  font-size: 4rem;
}

.inviteLink {
  font-size: 1.125rem;
  background-color: #5865f2;
  color: white;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 12px 0 rgba(79, 86, 104, 0.342);
  transition: all 0.2s ease-in-out;
}
.inviteLink:hover {
  transform: rotate(5deg) scale(1.1);
  box-shadow: 0 6px 12px 2px rgba(63, 64, 66, 0.486);
}
