.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   background-color: rgba(10, 248, 105, 0.404);
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.div {
  display: flex;
  gap: 12px;
}

.navItem {
  transition: all 0.2s ease-in-out;
}

.navItem:hover {
  transform: rotate(12deg) scale(1.1);
}

.logo {
  width: 15%;
  height: auto;
}