.box {
    text-align: center;
    background-color: rgba(237, 101, 101, 0.678);
    padding: 1rem;
    border-radius: 12px;
    max-width: 400px;
}

.lilbox {
    text-align: center;
    background-color: rgba(9, 188, 188, 0.492);
    padding: 0.5rem;
    border-radius: 12px;
    max-width: 300px;
}

.clrgrey {
    color: grey;
}

.position {
    text-align: center;
}